[user]
	name = your-name
	email = your-email@example.com
[safe]
	directory = C:/path/to/your/directory
[color]
	ui = always
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	quotepath = false
[credential "https://github.com"]
	username = AutoFor
