[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[credential "https://github.com"]
	helper = 
	helper = !/home/<username>/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/home/<username>/.local/bin/gh auth git-credential
[user]
	name = your-name
	email = your-id+your-name@users.noreply.github.com
