[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/env sh -c 'exec gh auth git-credential "$@"' --
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/env sh -c 'exec gh auth git-credential "$@"' --
[user]
	name = your-name
	email = your-id+your-name@users.noreply.github.com

[ghq]
	user = ai-foo
